/*** Declarando Variables ***/

// Paleta de color (como minimo 3 colores)
$primary-color: #00002a;
$secondary-color: #ff2e4d;
$third-color: #fdcb2f;
$fourth-color: #ececec;
// Tamaño de Fuente
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 13px;
$xs: 11px;
// Tipo de Fuente
$font: 'Zilla Slab', serif;
// Variables de Layout
$gutter: 16px; // Espacios entre contenedores
$max-width: 1200px; // Limite de nuestro site



/*** Importando Archivos ***/
 // 1. normalize
@import "_normalize.scss";
// 2.layout
@import "_layout.scss";
// 3.header
// 4.modules
@import "_modules.scss";
// 5.base
@import "_base.scss";
// hamburger button
// 6.menu
// 7.banner
// 8.features

// 3.header
.main-header {
    padding: $gutter*2 0 $gutter;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-1 {
        margin-left: auto;
        margin-right: auto;
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;

            @media screen and (min-width: 640px) {
                width: 100%;
            }

            @media screen and (min-width: 1024px) {
                width: 70%;
                margin-left: 0;
            }
        }

        @media screen and (min-width: 640px) {
            width: 20%;
        }
    }

    &-2 {
        
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: flex-end;
        
        @media screen and (max-width: 640px){
            display: none;
        }

        .donate {
            margin-left: .5em;
            @media screen and (max-width: 768px){
                display: none;
            }
        }
    }
}

//hamburger button
.toggle-menu {
    cursor: pointer;
    text-align: center;
    font-size: $xl;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

// 6.menu
.main-nav {
    background-color: $primary-color;
    display: block;

    @media screen and (max-width: 1024px) {
        display: none;
        &.show {
            display: block;
        }
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 1.5rem;
        z-index: 10;
    }

    .main-menu {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        @media screen and (min-width: 1024px) {
            display: flex;
        }
    
        &__item {
            border-bottom: 1px solid rgba(#fff,.5);
            
            @media screen and (min-width: 1024px) {
                border-bottom: none;
            }
        }
    
        &__link {
            display: block;
            line-height: 3rem;
            padding: 0 1em;
            text-decoration: none;
            color: #fff;
        }
    }
}

// 7.banner
.main-banner {
    padding: 20em 0;
    position: relative;
    background: url(../imagen/banner_devmaster.jpg) center / cover no-repeat;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%;
        background: linear-gradient(90deg, #ff2e4d, #FFFFFF);
        opacity: .4;
    }

    &__data {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 55%;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (min-width: 480px) {
            width: 40%;
        }

        @media screen and (min-width: 640px) {
            width: 30%;
        }

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (max-width: 768px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            justify-content: space-around;
            
        }

    }

    &__title {
        text-align: center;
        color: #f0f0f0;
        margin: 0 0 .5em;

        width: 100%;

        @media screen and (min-width: 768px) {
            text-align: left;
            font-size: 2.2em;
            margin: 0;
        }
    }

    &__subtitle,
    &__description {
        color: #fff;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__subtitle {
        font-size: 1.4em;
        margin: 0;
        &::after {
            content: '';
            display: block;
            width: 20%;
            height: 2px;
            background: $secondary-color;

        }
    } 
    
    &__description {
        font-size: $s;
        line-height: 1.6
    }

    .button {
        @media screen and (min-width: 768px){
            margin-right: 1em;
        }
    }
}

//features
.section {
    padding-top: 2em;
    padding-bottom: 2em;

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        span {
            color: $secondary-color;
        }
    }

    .feature-item-container {
        padding: 0 $gutter;

        @media screen and (min-width: 640px){
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
    }

    .main-container {
        .feature-item {
            margin-bottom: $gutter*2;

            @media screen and (min-width: 640px){
                width: 32%;
            }

            &__img {
                display: block;
                width: 100%;
            }

            &__footer {
                display: flex;
                position: relative;
            }

            &__title {
                background-color: $fourth-color;
                margin: 0;
                width: 70%;
                padding: .8em;
                font-size: $s;
                // color: hsl(0,100,100);
            }

            &__icon {
                background-color: $secondary-color;
                position: absolute;
                left: 65%;
                bottom: 0;

                //hexagono
                $size: 2rem;
                width: $size*2;
                height: $size*1.73;

                clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);

            }
        }
    }
}